.style-container {
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    width: 1000px;
    background: #fff;
    border: 1px solid #e0e0e0;
    padding: 0.5em;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    margin: 30px;
    padding: 10px;
    line-height: 1.6;
}
.style-container h3 {
    color: grey;
    font-size: 1.3rem;
    padding-top: 2px;
}

.articles {
    border-bottom: 1px dotted grey ;
    padding: 20px 0px;
    line-height: 20px;
}

.title h2{
    font-size: 35px;
    color: #622703;
}

.btn{
    width: 150px;
    margin: 1px;
}
.date{
    font-size: 13px;
}